image:
  name: traefik
  tag: 2.3.7

additionalArguments:
  - "--accesslog"
  - "--log.level=INFO"
  - "--providers.kubernetescrd"
{% if tls_mode == 'letsencrypt' %}
  - "--certificatesresolvers.le.acme.tlsChallenge=true"
  - "--certificatesresolvers.le.acme.email={{ acme_email }}"
  - "--certificatesresolvers.le.acme.storage=/data/acme.json"
{% if acme_staging %}
  - "--certificatesresolvers.le.acme.caserver=https://acme-staging-v02.api.letsencrypt.org/directory"
{% endif %}
{% endif %}
{% if tls_mode == 'custom' %}
  - "--providers.file.filename=/config/dynamic.yml"
{% endif %}

ports:
  traefik:
    port: 9000
    expose: false
    exposedPort: 9000
  web:
    port: 8000
    expose: true
    exposedPort: 80
  websecure:
    port: 8443
    expose: true
    exposedPort: 443

service:
  enabled: true
  type: LoadBalancer
  spec:
     externalTrafficPolicy: Local
     loadBalancerIP: "{{ public_ip }}"
  externalIPs:
   - "{{ public_ip }}"

{% if tls_mode == 'custom' %}
volumes:
 - name: ngs-tls-secret
   mountPath: "/certs"
   type: secret
 - name: traefik-dynamic
   mountPath: "/config"
   type: configMap
{% endif %}

persistence:
  enabled: true
  accessMode: ReadWriteOnce
  size: 128Mi
  path: /data
