kombu==4.6.3
celery
flask
flask-cors
flask-login
flask_socketio
flask-sqlalchemy
gevent
eventlet
gunicorn
mesa
msgpack-python
mysql-connector-python
nose
numpy
pytimeparse
quantities
redis
scikit-learn
scipy
setuptools
sqlalchemy
werkzeug
