celery
flask
flask-login
flask_socketio
flask-sqlalchemy
gevent==1.4.0
gunicorn
jinja2
mesa
msgpack-python
mysql-connector-python
nose
numpy
pytimeparse
quantities
redis
scikit-learn>=0.23,!=0.24.0,!=0.24.1
scipy
setuptools
sqlalchemy
werkzeug
