celery
flask
flask-login
flask_socketio
flask-sqlalchemy
gevent
gunicorn
jinja2
mesa
msgpack-python
mysql-connector-python
nose
numpy
pytest
pytimeparse
quantities
redis
scikit-learn
scipy
setuptools
sqlalchemy
werkzeug==2.1
