body {background: #f2f2f2; margin: 50px;}
p {font-size: 1.5em;}
a {
  text-decoration: none;
  outline:none;
  position: relative;
  color: #3366FF;
}

.tab{
  text-align:center;
}
.tab .nav-tabs{
    /*display: inline-block;*/
    border-bottom: none;
    position: relative;
}

a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 2px solid #3366FF;
  transition: 0.4s;
}
a:hover:after,
a.active hover:after{
  width: 100%;
  right:auto;
  left:0;
}

a:after{
  right:0;
  left:auto;
}


a.active:after{
  right:auto;
  left:0;
  width:100%;
}

ul.nav-tabs{
  border-spacing: 0;
  border-color: transparent;
  padding: 0;
}

ul.nav-tabs{
  display:flex;
  flex-wrap: nowrap;
  align-items:stretch;
}

.tab{
  margin:auto;
}

.card-body{
  margin: 10%;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 100%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}