apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: simoc-flask-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: simoc-flask-server
  minReplicas: {{ min_flask_replicas }}
  maxReplicas: {{ max_flask_replicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 30
