apiVersion: autoscaling/v2beta1
kind: HorizontalPodAutoscaler
metadata:
  name: simoc-celery-autoscaler
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: simoc-celery-cluster
  minReplicas: {{ min_celery_replicas }}
  maxReplicas: {{ max_celery_replicas }}
  metrics:
  - type: Resource
    resource:
      name: cpu
      targetAverageUtilization: 50
