<div class="tab-pane fade" id="terrain">
  <div class="row">
    
    <div class="col-12 tab title">
      Step 5: Terrain
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="Terrain" form="{{content.formid}}">
      
      <div class="option-block">
        Please Select A Starting Terrain:          
      </div>


      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="Peark-terrain" value="Peak" form="{{content.formid}}" checked>
        <label class="form-check-label" for="mars-terrain">
          Peak
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="rift-terrain" value="Rift" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="rift-terrain">
          Rift
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="plain-terrain" value="Open Plain" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="plain-terrain">
          Open Plain
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="valley-terrain" value="Valley" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="valley-terrain">
          Valley
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="subterranean-terrain" value="Subterranean" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="subterranean-terrain">
          Subterranean (Lava Tubes)
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="ocean-terrain" value="Ocean Surface" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="ocean-terrain">
          Ocean Surface
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="terrain" id="sub-terrain" value="Sub-Ocean" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="sub-terrain">
          Sub Ocean
        </label>
      </div>
    </div>



    <div class="col-6 information">
      {{wizard.terrainInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="next-step btn raised">Next</button>
    </div>
  </div>

</div>