<div class="tab-pane fade show active" id="start" role="tabpanel " style="outline:1px solid blue;">
  <div class="row" style="outline: 1px solid red;">
    
    <div class="col-12 tab title">
    	Step 2: Welcome To SIMOC
    </div>

    <div class="col-6 selection">

          <input type="hidden" value="Mode" form="{{content.formid"}}>
          <div>
            Please Select Mode:
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mode" id="interactive-mode" value="Interactive" checked>
            <label class="form-check-label" for="interactive-mode">
              Interactive
            </label>
          </div>
          
          <div class="form-check">
            <input class="form-check-input" type="radio" name="mode" id="scientific-mode" value="Scientific">
            <label class="form-check-label" for="interactive-mode">
              Scientific
            </label>
          </div>

    </div>

    <div class="col-6 information">
      {{wizard.startInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn-outline-danger">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn-outline-secondary disabled">Previous</button>
      <button type="button" class="next-step btn-outline-primary">Next</button>

    </div>
  </div>
</div>