<div class="tab-pane fade show active" id="configuration" role="tabpanel " style="outline:1px solid blue;">
  <div class="row" style="outline: 1px solid red;">
    
    <div class="col-12 tab title">
      Step 2: Configuration
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="Configuration" form="{{content.formid}}">
      
      <div>
        Please Select A Configuration:          
      </div>

      <div class="form-check">
        <input class="form-check-input disabled" type="radio" name="configuration" id="preset-configuration" value="preset-configuration">
        <label class="form-check-label" for="preset-configuration">
          Preset Configurations
        </label>

        <select class="custom-select disabled">
          <option selected>SIMOC Baseline</option>
          <option>NASA 'Astronaut In A Can'</option>
          <option>Mars One</option>
        </select>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="configuration" id="custom-configuration" vaue="custom-configuration" checked>
        <label class="form-check-label" for="custom-configuration">
          Custom Configuration
        </label>
      </div>

      <div class="form check">
        <input class="form-check-input" type="radio" name="configuration" id="custom-import" value="custom-import">
        <label class="form-check-label" for="custom-import">
          Import Configuration
        </label>
      
        <div class="custom-file">
          <input type="file" class="custom-import-configuration disabled" id="custom-import">
          <label class="custom-file-label" for="custom-import-configuration"">Choose File</label>
        </div>
      </div>         

    </div>

    <div class="col-6 information">
      {{wizard.configurationInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn-outline-danger">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn-outline-secondary">Previous</button>
      <button type="button" class="next-step btn-outline-primary">Next</button>

    </div>
  </div>
</div>