<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SIMOC</title>

    <script src="./static/js/Chart.bundle.min.js"></script>
    <script src="./static/js/utils.js"></script>
    <script src="./static/js/jquery/jquery.min.js"></script>
    <script src="./static/js/bootstrap/bootstrap.min.js"></script>
    <script src="./static/js/msgpack/msgpack.min.js"></script>
    <script src="./static/js/custom/connectionhandler.js"></script>
    <script src="./static/js/custom/custom_util.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/text.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">

    <!-- Make sure to remove this and change it to the local location -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



</head>

<body>

  <div class="container-fluid base-container" id="base-container">
  <div class="container" id="registration-container" style="width:500px; padding-bottom:16px">
  <div class="row">
    <div class="col-12 main title">
      SIMOC
    </div>
    <div class="col-12 main subtitle">
      SCALABLE MODEL OF AN ISOLATED <br> OFF-WORLD COMMUNITY
    </div>

    <div class="col-12 tabs tab title">
      Welcome
    </div>
    <div class="col-12 tabs common-text">
      <div class="input-group" style="margin-top: 16px">
        <div class="input-group-prepend">
          <span class="input-group-text" id="username-addon"><i class="fas fa-id-card inner-icon"></i></span>
        </div>
        <input type="text" class="form-control" id="username" placeholder="Username">
      </div>
      <div class="input-group" style="margin-top: 24px">
        <div class="input-group-prepend">
          <span class="input-group-text" id="password-addon"><i class="fas fa-lock"></i></span>
        </div>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="input-group" style="margin-top: 24px">
        <div class="form-check mb-2 mr-sm-2 mb-sm-0">
          <label class="form-check-label">
            <input class="form-check-input" type="checkbox" disabled> 
            Stay Logged In
          </label>
        </div>
      </div>
    </div>
  <div class="col-4" style="border-left: 2px solid #3b7493"></div>
  <div class="col-4 common-text" style="width:50%; margin: auto;" align="center";>
      <br>
      <button type="button" class="next-step btn raised" id="submitbtn">Login</button>
  </div>
  <div class="col-4" style="border-right: 2px solid #3b7493"></div>
  <div class="col-12" style="border-right: 2px solid #3b7493;border-left: 2px solid #3b7493; border-bottom: 2px solid #3b7493; text-align: center; padding-bottom:32px">
    <br>
  <span style="color: white">Don't Have An Account?  </span> <a style="text-decoration: underline; color:#28A828; cursor: pointer;" id="registerbtn">Sign Up </a>
  </div>
  </div> <!-- Row Tag -->
  </div> <!-- Container Tag -->
  </div><!--Container Tag -->

  <div class="modal fade" id="failureLoginModal" role="dialog">
    <div class="modal-dialog" style="background-color: #F08080">
      <div class="modal-content">
        <div class="modal-body" id="failuremessage-id" style="text-align: center; color: black;background-color: #F08080">
        </div>
        <div class="modal-footer common-text" style="margin: 0 auto; padding: 8px;">
          <button type="button" class="next-step btn raised" id="failureloginmodalbtn">Close</button>
        </div>
      </div>
    </div>
  </div>


  <script src="/static/js/login.js"></script>

</body>
</html>