<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SIMOC</title>

    <script src="./static/js/Chart.bundle.min.js"></script>
    <script src="./static/js/utils.js"></script>
    <script src="./static/js/jquery/jquery.min.js"></script>
    <script src="./static/js/bootstrap/bootstrap.min.js"></script>
    <script src="./static/js/msgpack/msgpack.min.js"></script>
    <script src="./static/js/custom/connectionhandler.js"></script>
    <script src="./static/js/custom/custom_util.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">

    <style>
      @font-face {
        font-family: 'Nasalization';
        src: URL('/static/assets/nasalization-rg.ttf') format('truetype');

      } 



      body{
        color: #e9f0f4;
        font-family:'Nasalization';
        background-image: url("/static/assets/simoc-background.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-color: black;
      }

      .textPanel{
        background-image: url("/static/assets/black-transparent.png");
      }

      .title{
        background-image: url("/static/assets/blue-transparent.png");
      }

    </style>

</head>

<body>

  <div class="container-fluid" style="width: 100%; top:16px; bottom:16px;  position: absolute; min-height:720px; min-width:1280px;">
    <div class="row" style="height: 100%">
      <div class='col-3 container'">
        <div style="box-sizing: border-box; height: 12%; border: 2px solid #3b7493;">
          <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border-bottom: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh)">
            Mission Crictical
          </div>
          <div style="box-sizing: border-box; min-height: calc(100% - 12px - 3vh); font-size:calc(10px + .35vh); text-align: left; line-height: calc(10px + .35vh); padding: 8px">
            <div>Humans: 4</div>
            <div>Stay Remaining: Permanent</div>
          </div>
        </div>
        <div style="box-sizing: border-box; height: 74%; margin-top:1vh; margin-bottom:2vh;">
          {%include '/leftPanel_payload.html'%}
        </div>
        <div style="box-sizing: border-box; height: 11%;   padding: .75%;" class="container">
          <div class="row" style="margin-bottom:.5%; color:#2c5e79">
            <div class="col-3" style="color: #e9f0f4; font-size:calc(8px + 1.1vh); margin-right:calc(16px + 1.5vh)">Habitat</div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
          </div>
          <div class="row" style="margin-bottom:.5%; color:#2c792c">
            <div class="col-3" style="color: #e9f0f4;font-size:calc(8px + 1.1vh); margin-right:calc(16px + 1.5vh)">Resources</div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
          </div>
          <div class="row" style="margin-bottom:1%; color:#9a9e79">
            <div class="col-3" style="color: #e9f0f4;font-size:calc(8px + 1.1vh); margin-right:calc(16px + 1.5vh)">Reconfigure</div>
            <div class="col-1"> <i class="fas fa-square selector-icon" style='margin-right:calc(16px + 1.5vh); font-size: calc(16px + 1.1vh)'></i> </div>
          </div>
        </div>
      </div>
      <div class='col-6 container'>
        <div style="box-sizing: border-box; height:67%; border: 2px solid #3b7493;">
          <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border-bottom: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh)">
            SIMOC
          </div>
        </div>
        <div style="box-sizing:border-box; height: 19%; border: 2px solid #3b7493; margin-top:1vh; margin-bottom:1vh">
          <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border-bottom: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh); width: 100%" class="container">
            <div class="row">
              <div class="col">Habitat Monitor</div>
              <div class="col">1s Per Hour</div>
              <div class="col">Mars: SOL 2</div>
            </div>
          </div>
        </div>

        <div style="box-sizing: border-box; height:12%; padding: 0px">

        </div>

      </div>
      <div class='col-3 container'>
        <div style="box-sizing: border-box; height:87%; border:2px solid #3b7493; margin-bottom:1vh">
          <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border-bottom: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh)">
            ECOSYSTEM
          </div>
        </div>
        <div style="box-sizing: border-box; height:12%; ">
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  
  </body>
</html>    	