<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>SIMOC</title>

    <script src="./static/js/Chart.bundle.min.js"></script>
    <script src="./static/js/utils.js"></script>
    <script src="./static/js/jquery/jquery.min.js"></script>
    <script src="./static/js/bootstrap/bootstrap.min.js"></script>
    <script src="./static/js/msgpack/msgpack.min.js"></script>
    <script src="./static/js/custom/connectionhandler.js"></script>
    <script src="./static/js/custom/custom_util.js"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">

</head>

<body>

  <div class="container" style="height:720px;width:1280px; border:2px solid blue; padding-top:16px; padding-bottom:16px;"> 
    <div class="row" style="height:100%">
      <div class="col-3" style="border:2px solid red; height:100%">
        <div id="missionCritical" style="margin-bottom:1%; max-height:15%">
          <div style="border:2px solid blue">
            Mission Critical
          </div>
          <div style="border:2px solid blue">
            <div> Population: 4 Humans</div>
            <div> Stay Remaining: Permanent</div>
          </div>
        </div>
        <div id="payloadBreakdown" style="border:2px solid blue; min-height: 70%; margin-bottom:1%">
          
        </div>
        <div id="leftNavigation" style="border:2px solid blue; max-height: 10%">
          <br>
          <br>
          <br>
        </div>
      </div>
      <div class="col-6" style="border:2px solid red; background-color:blue;">
       <div style="background-color: green;"><br></div>
      </div>
      <div class="col-3" style="border:2px solid red; background-color:blue;">
        <div style="background-color: green;"><br></div>
      </div>
    </div>
   </div> 

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>    	