
<!DOCTYPE html>
<html lang="en">
<head>
  <title>SIMOC</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='wizard.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}"/>
  <link rel="stylesheet" href="{{ url_for('static', filename='font.css') }}"/>



</head>

<body>

  <div class="simoc-title cmn-text">SIMOC</div>
  <div class="w-title cmn-text">CONFIGURATION WIZARD</div>
  <div class="card">
    <!-- This could be a child template -->
    <div class="card-block w-tabs">
      <span class="connecting-line"></span>

      <ul class="nav">
        {% for item in tabs %}
          <li class="{{ item.active }} ">
            <a class="{{ item.active }} fa-3x fa-layers fa-fw" data-toggle="tab" href="{{ item.href }}">
              <!--<i class="fas fa-circle w-select-icon" data-fa-transform="grow-2"></i>-->
              <i class="fas fa-circle w-circle-icon" data-fa-transform="shrink-1"></i>
              <i class="{{ item.icon }} w-inner-icon" data-fa-transform="shrink-7"></i>
            </a>
          </li>
        {% endfor %}
      </ul>
    </div>

    <div class="card-block w-content">
      {% block content %}

      {% endblock content %}
    </div>
  </div>



<script>
  $(document).ready(function () {
    //Initialize tooltips

    $(".next-step").click(function (e) {

        var $active = $('.w-tabs .nav li.active');
        $active.next().removeClass('disabled');
        nextTab($active);

    });
    $(".prev-step").click(function (e) {

        var $active = $('.wizard .nav-tabs li.active');
        prevTab($active);

    });
});

function nextTab(elem) {
  $(elem).next().find('a[data-toggle="tab"]').click();
}

function prevTab(elem) {
    $(elem).prev().find('a[data-toggle="tab"]').click();
}
</script>


</body>
</html>