<div class="container col-6" style="outline: 1px solid blue; height:720px; padding-top: 16px; padding-bottom: 16;">
  <div class="middle-inner"> 
    <div class="row">
      <div class="col-12 title" style="height: 68px; outline: 1px solid green;"">Mars: XX SOLS</div>
      <div class="col-12 canvasMap" style="height:350px; outline: 1px solid red;">Canvas Map</div>
      <div class="col-12 barCharts" style="height:180px; outline: 1px solid blue;">
        <div class="row" >
          {%include 'middlebars.html'%}
        </div>
      </div>
      <div class="col-12 sessionControl" style="height:90px; outline: 1px solid green;">Session Controls</div>
    </div>
  </div>
</div>