<div class="row">
  <div class="right-panel col-3" style="padding:0px">
    <div class="panel-inner">
    <div class="row">

        <div class="col-12 location">T</div>
        <div class="col-12 region">T</div>
        <div class="col-12 atmospherecontents">T</div>
        <div class="col-12 atmospherepressure">T</div>
        <div class="col-12 solarflux">T</div>
        <div class="col-12 daylength">T</div>
        <div class="col-12 regolithcontents">T</div>
        <div class="col-12 launchwindow" style="padding:0px">
          <div class="row">
            <div class="col-12 title">T</div>
            <div class="col-6 vehicle">T</div>
            <div class="col-6 date">T</div>
          </div>
        </div>
        <div class="col-12 model" style="padding:0px">
          <div class="row">
            <div class="col-12 title">T</div>
            <div class="col-12 radioexplore">T</div>
            <div class="col-12 radiogrowth">T</div>
            <div class="col-12 radio balance">T</div>
          </div>
        </div>
        <div class="col-12 payload" style="padding:0px">
          <div class="col-12 title">T</div>
          <div class="col-12 human">T</div>
          <div class="col-12 food">T</div>
          <div class="col-12 oxygen">T</div>
          <div class="col-12 water">T</div>
        </div>

      </div>
    </div>
  </div>

  <div class="middle-panel col-6">
    <div class="panel-inner">Test</div>
  </div>

  <div class="right-panel col-3">
    <div class="panel-inner">Test</div>
  </div>
</div>
</div>

