<div class="row">
  <div class="right-panel col-3" style="padding:0px">
    <div class="panel-inner">
      <div class="row">
        <div class="col-12 location">Dropdown</div>
        <div class="col-12 region">Dropdown</div>
        <div class="col-12 atmospherecontents">Info? </div>
        <div class="col-12 atmospherepressure">Info?</div>
        <div class="col-12 solarflux">Info?</div>
        <div class="col-12 daylength">Info?</div>
        <div class="col-12 regolithcontents">Info?</div>
        <div class="col-12 launchwindow" style="padding:0px">
          <div class="row">
            <div class="col-12 title">Text</div>
            <div class="col-6 vehicle">Dropdown</div>
            <div class="col-6 date">Dropdowns</div>
          </div>
        </div>
        <div class="col-12 model" style="padding:0px">
          <div class="row">
            <div class="col-12 title">T</div>
            <div class="col-12 radioexplore">Radio</div>
            <div class="col-12 radiogrowth">Radio</div>
            <div class="col-12 radio balance">Radio</div>
          </div>
        </div>
        <div class="col-12 payload" style="padding:0px">
          <div class="col-12 title">Text</div>
          <div class="col-12 human">Text</div>
          <div class="col-12 food">Text</div>
          <div class="col-12 oxygen">Test</div>
          <div class="col-12 water">Text</div>
        </div>

      </div>
    </div>
  </div>

  <div class="middle-panel col-6" style="padding:0px">
    <div class="panel-inner">
      <div class="row">
        <div class="col-12 canvas-map">The Map</div>
        <div class="col-12 readouts">Current Levels</div>
        <div class="col-12 sessioncontrols">Session Controls</div>
      </div>

    </div>
  </div>

  <div class="right-panel col-3" style="padding:0px">
    <div class="panel-inner">
      <div class="row">
        <div class="col-12 chart"><canvas id="myChart" width="120" height="80"></canvas></div>
    </div>
  </div>
</div>
</div>

