<div class="tab-pane fade show active" id="payloadPanel" role="tabpanel" style="height:100%;">
  <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh);">
    Incoming Payload
  </div>
  <div style="box-sizing: border-box; height: calc(75.4% - 12px - 3vh - 1vh - 1vh); border-right: 2px solid #3b7493; border-bottom: 2px solid #3b7493;border-left: 2px solid #3b7493;margin-bottom:1vh; padding-top: 8px; padding-left: 8px">
    <div style="min-height: 100%; max-height:2vh; overflow-y:scroll">
      Initial Payload Has Arrived.
      No Additional Payloads Available.
    </div>
  </div>

  <div class="title" style="box-sizing: border-box; height: calc(12px + 3vh); border: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh); margin-bottom: 1vh">
    Arriving In:
  </div>

  <div class="container" style="box-sizing: border-box; height: calc(100% - 68.4% - 12px - 3vh); margin:0; margin-bottom:1vh; font-size:18px;">
    <div class="row justify-content-between" style="height: 50%" style="">
      <div class="col-3" style="box-sizing: border-box; border: 2px solid #3b7493;font-size: 3em;line-height:1.4em;text-align:center;">75</div>
      <div class="col-3" style="box-sizing: border-box; border: 2px solid #3b7493;font-size: calc(24px + 3vh);text-align:center;">19</div>
      <div class="col-3" style="box-sizing: border-box; border: 2px solid #3b7493;font-size: calc(24px + 3vh);text-align:center;">17</div>
    </div>
    <div class="row justify-content-between" style="height: 20%; margin-bottom:2vh; font-size:12px;">
      <div class="col-3" style="box-sizing: border-box; border-right: 2px solid #3b7493;border-left: 2px solid #3b7493;border-bottom: 2px solid #3b7493; text-align: center; font-size: 1.45vw">SOLS</div>
      <div class="col-3" style="box-sizing: border-box; border-right: 2px solid #3b7493;border-left: 2px solid #3b7493;border-bottom: 2px solid #3b7493; text-align: center;line-height: 1.45em;font-size: 1.2em;">HOURS</div>
      <div class="col-3" style="box-sizing: border-box; border-right: 2px solid #3b7493;border-left: 2px solid #3b7493;border-bottom: 2px solid #3b7493; text-align: center;line-height: 1.45em;font-size: 1.2em;">MINUTES</div>
    </div>
  </div>

  


</div>