<div class="tab-pane fade show active" id="payloadPanel" role="tabpanel" style="height:100%;">
  <div style="box-sizing: border-box; height: calc(12px + 3vh); border: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh);">
    Incoming Payload
  </div>
  <div style="box-sizing: border-box; height: calc(70% - 12px - 3vh - 12px - 3vh - 1vh); border-right: 2px solid #3b7493; border-bottom: 2px solid #3b7493;border-left: 2px solid #3b7493; overflow: auto; margin-bottom:1vh">
  </div>

  <div style="box-sizing: border-box; height: calc(12px + 3vh); border: 2px solid #3b7493; font-size:calc(12px + 1.5vh); text-align: center; line-height: calc(12px + 2vh);">
    Arriving In:
  </div>


</div>