<div class="tab-pane fade show" id="payloadPanel" role="tabpanel">
  <div style="height:5vh; min-height:36px; box-sizing: border-box; border: 2px solid #3b7493;margin-bottom: .5vh;" class="title"><div class="customHeader">INCOMING PAYLOAD</div></div>
  <div class="container" style="height:34vh; min-height:244.8; box-sizing: border-box; margin-bottom:1.5vh;border: 2px solid #3b7493;">
    <div style="height:4vh; box-sizing: border-box; text-align: center; margin-top: 1.5vh; margin-bottom: .5vh;" ><button>View Projected Path</button></div>
    <div style="height: 26.5vh; box-sizing: border-box; overflow-y: auto; ;padding-right:6px" class="customParagraph">      
      Initial Payload Has Arrived. No Additional Payloads Available.
    </div>
  </div>

  <div style="height: 5vh;  min-height:36px; box-sizing: border-box; border: 2px solid #3b7493; margin-bottom: .5vh" class="title"><div class="customHeader">PAYLOAD ARRIVING IN</div></div>
  <div style="height: 15vh; min-height:108px; box-sizing: border-box; margin-bottom: 1.5vh;" class="container">
    <div class="row justify-content-between">
      <div class="col-3" style="height:15vh; padding: 0px">
        <div style="height:10.5vh;box-sizing: border-box; border: 2px solid #3b7493; margin-bottom:.5vh" class="countdownText">00</div>
        <div class="title" style="box-sizing: border-box;border: 2px solid #3b7493;height:4vh; padding: .5vh;" class="title"><div class="customMiniHeader">SOLS</div></div>
      </div>
        <div class="col-3" style="height:15vh; padding: 0px">
        <div style="height:10.5vh;box-sizing: border-box; border: 2px solid #3b7493; margin-bottom:.5vh" class="countdownText">00</div>
        <div class="title" style="box-sizing: border-box;border: 2px solid #3b7493;height:4vh; padding: .5vh;" class="title"><div class="customMiniHeader">HOURS</div></div>
      </div>
      <div class="col-3" style="height:15vh; padding: 0px">
        <div style="height:10.5vh;box-sizing: border-box; border: 2px solid #3b7493; margin-bottom:.5vh" class="countdownText">00</div>
        <div class="title" style="box-sizing: border-box;border: 2px solid #3b7493;height:4vh; padding: .5vh;" class="title"><div class="customMiniHeader">MINUTES</div></div>
      </div>
    </div>
  </div>
</div>