{% extends "base_home.html" %}

{% block panel %}
<div class="text-center sf_window">
    <div class="pt-5 center">
        <form class="logform">
            <div class="form-group ">               
                <input type="text" class="form-control " id="username" placeholder="Enter username">
                <input type="password" class="form-control " id="password" placeholder="Password">
                <input type="password" class="form-control " id="validatepassword" placeholder="Confirm Password">
            </div>
           
             <small id="msg" class="form-text text-muted"></small>            
            <button type="submit" class="btn btn-primary">Login</button>
            <button type="button" id="menuoptionbackbtn" class="btn btn-primary">Back</button>
        </form>
    </div>

</div>

{% endblock %}