{% extends "base_home.html" %}

{% block panel %}
<div class="menuframe-header configuration-title common-text">
Main Menu
</div>
<div class="menu-buttons-container">
    
        <p><button type="button" id="loginbtn" class="buttons">Login</button></p>
        <p><button type="button" id="registerbtn" class="buttons">Register</button></p>
        <p><button type="button" class="buttons">Exit</button></p>

   

</div>


<script type="text/javascript">
    $(function () {
        $('#loginbtn').click(function () {
            gotourl('/loginpanel');
        });
        $('#registerbtn').click(function () {
            gotourl('/registerpanel');
        });
    });
</script>
{% endblock %}
