<div class="tab-pane fade" id="finalize" role="tabpanel"> 
  <div class="row">
    
    <div class="col-12 tab title">
    	  STEP 10: Finalize Mode      
    </div>

    
    <div class="col-12 finalize" style="padding: 0px">
      <div class="row" id="row-finalize">     
      </div>
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised" disabled>Previous</button>
      <button type="button" class="finalize-step btn raised">Finalize</button>
    </div>
  </div>
</div>