<div class="row dashboard common-text">
  <div class="container col-3 left-panel">
    <div class="inner">

      <div class="container config-dash model" >
        <div class="row">
          <div class="col-12 dashboard title">
            Mission Configuration
          </div>
          <div class="col-12 config-block" id="mode-id"></div>
          <div class="col-12 config-block-model" id="model-id"></div>
          <div class="col-12 config-block" id="configuration-id"></div>
          
        </div>
      </div>

      <div class="container config-dash">
        <div class="row">
          <div class="col-12 config-block" id="transportation-id"></div>
          <div class="col-12 config-block" id="payload-id"></div>
          <div class="col-12 config-block" id="launchwindow-id"></div> 
          <div class="col-12 config-block" id="durationofstay-id"></div>
        </div>
      </div>

      <div class="container config-dash" >
        <div class="row">


          <div class="col-12 config-block" id="location-id"></div>

          <div class="col-12 config-block" id="region-id"></div>
          
          <div class="col-12 config-block" id="terrain-id"></div>
          <div class="col-12 config-block" id="lengthofday-id">Length Of Day: 24h 39m</div>
          <div class="col-12 config-block regolith" id="regolith-id">
          Minerals In Regolith:
          <div class="col-12 config-block" style="font-size: 14px">
                MgO: 120 kg
               <br/> Al2O3: 150 kg
               <br/> TiO2: 27 kg
               <br/> FeO: 30 kg
               <br/> CaO: 112.5 kg
               <br/> SO3: 90 kg 
          </div>
        </div>   
        </div>
      </div>

      <div class="container reset-btn" >
        <div class="row">
          <div class="col-1 offset-2 reset buttons">
            <button type="button" class="reconfigure-btn btn raised" data-toggle="modal" data-target="#reconfigureModal" >Reconfigure</button>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="container col-6 middle-panel">
    <div class="inner">

      <div class="container main-dash map">
        <div class="row">
          <div class="col-12 dashboard title">
            SIMOC
          </div>

          <div class="col-12 dashboard map">
          </div>
        </div>
      </div>

      <div class="container main-dash bars">
        <div class="row">
          <div class="col-4 dashboard title">
            Habitat Monitor
          </div>

          <div class="col-4 dashboard title" id="currentSpeed-id">
            1 Hour Per 1s
          </div>

          <div class="col-4 dashboard title" id="currentDate-id">
            Mars: Sol 1          
          </div>
          <div class="col-2 container config-block-main bars" style="height: 110px; max-height:110px">

          </div>
        </div>
      </div>

        <div class="container menu-btn">
          <div class="row">

            <div class="col-2 offset-1 save button">
              <a class="fa-3x fa-layers fa-fw disabled">
                <i class="far fa-circle selector-icon" data-fa-transform="grow-3"></i>
                <i class="fas fa-circle outer-icon" data-fa-transform="grow-1"></i>
                <i class="fas fa-save inner-icon" data-fa-transform="shrink-7"></i>
              </a>
            </div>

            <div class="col-2 slowdown button">
              <a id="slowdown-button" class="fa-3x fa-layers fa-fw">
                <i class="far fa-circle selector-icon" data-fa-transform="grow-3"></i>
                <i class="fas fa-circle outer-icon" data-fa-transform="grow-1"></i>
                <i class="fas fa-caret-left inner-icon" data-fa-transform="shrink-7"></i>
              </a>
            </div>

            <div class="col-2 pause button">
              <a class="fa-3x fa-layers fa-fw" id="pause-button">
                <i class="far fa-circle selector-icon" data-fa-transform="grow-3"></i>
                <i class="fas fa-circle outer-icon" data-fa-transform="grow-1"></i>
                <i class="fas fa-pause inner-icon" data-fa-transform="shrink-7"></i>
              </a>

            </div>

            <div id="speedup-button" class="col-2 speedup button">
              <a class="fa-3x fa-layers fa-fw">
                <i class="far fa-circle selector-icon" data-fa-transform="grow-3"></i>
                <i class="fas fa-circle outer-icon" data-fa-transform="grow-1"></i>
                <i class="fas fa-caret-right inner-icon" data-fa-transform="shrink-7"></i>
              </a>
            </div>

            <div class="col-2 load button">
              <a class="fa-3x fa-layers fa-fw disabled" id="dashboard-load">
                <i class="far fa-circle selector-icon" data-fa-transform="grow-3"></i>
                <i class="fas fa-circle outer-icon" data-fa-transform="grow-1"></i>
                <i class="fas fa-folder-open inner-icon" data-fa-transform="shrink-7"></i>
              </a>
            </div>

          </div>
        </div>

    </div>
  </div>

  <div class="container col-3 right-panel">
    <div class="inner">
      <div class="row">
        <div class="col-12 dashboard title">
          Ecosystem
        </div>

        <div class="col-6">

        <div id="oxygenGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6">
            <div id="carbdondioxideGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6">

        <div id="waterGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6">
            <div id="bioMassGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6">
          <div id="eProducedGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6">
            <div id="eConsumedGauge" class="gauge" style="width:100%; height:100%px;"></div>
        </div>

        <div class="col-6" style="font-size:9px">
          <div>BIOMASS TOTAL (kg):</div>
          <div>BIOMASS Edible (kg):</div>
        </div>

        <div class="col-6" style="font-size:9px">
          <div id="biomassTotal"/>
          <div id="biomassEdible"/>
        </div>

        <div class="col-8"><div style="border-bottom:1px solid white; width:100%; margin:4px"/></div>

        <div class="col-6" style="font-size:9px">
          <div>food generated (j):</div>
          <div>food energy (j):</div>
          <div>food mass (kg):</div>
          <div>food consumpation (j):</div>
        </div>

        <div class="col-6" style="font-size:9px">
          <div id="foodGenerated"/>
        </div>

      </div>
    </div>
  </div>
</div>

  <script src='./static/js//raphael-2.1.4.min.js'></script>
  <script src='./static/js/justgage.js'></script>

    <script>
      var oxygenG = new JustGage({
        id: 'oxygenGauge',
        value: 0,
        min: 0,
        max: 100,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Oxygen",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });

      var carbdonDioxideG = new JustGage({
        id: 'carbdondioxideGauge',
        value: 0,
        min: 0,
        max: .2,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Carbon Dioxide",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });

      var waterG = new JustGage({
        id: 'waterGauge',
        value: 45,
        min: 0,
        max: 100,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Water",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });

      var biomassG = new JustGage({
        id: 'bioMassGauge',
        value: 45,
        min: 0,
        max: 100,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Biomass (Edible)",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });

      var eProducedG = new JustGage({
        id: 'eProducedGauge',
        value: 45,
        min: 0,
        max: 100,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Energy Produced (kWh)",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });

      var eConsumedG = new JustGage({
        id: 'eConsumedGauge',
        value: 45,
        min: 0,
        max: 100,
        symbol: '%',
        pointer: true,
        pointerOptions: {
          toplength: -7.5,
          bottomlength: 5,
          bottomwidth: 6,
          color: '#8e8e93',
          stroke: '#ffffff',
          stroke_width: 3,
          stroke_linecap: 'round'
        },
        gaugeWidthScale: 0.6,
        counter: true,
        title: "Energy Consumed (kWh)",
        valueFontColor: "white",
        labelFontColor: "white",
        titleFontColor: "white"
      });



</script>

{%include 'modal_reconfigure.html'%}