<div class="tab-pane fade" id="finalize" role="tabpanel"> 
  <div class="row">
    
    <div class="col-12 tab title">
    	  STEP 9: Finalize Mode      
    </div>

    
    <div class="col-12 finalize">
      <div class="row">

        <div class="col-12 " id="mode-id">
        </div>  

        <div class="col-12 " id="configuration-id">
        </div>   

        <div class="col-12 " id="location-id">
        </div>

        <div class="col-12 " id="region-id">
        </div>

        <div class="col-12 " id="terrain-id">
        </div>

        <div class="col-12 " id="launchwindow-id">
        </div>

        <div class="col-12 " id="durationofstay-id">
        </div>          

        <div class="col-12 " id="transportation-id">
        </div>

        <div class="col-12 " id="payload-id">
        </div>  

        <div class="col-12 " id="model-id">
        </div>  

      </div>
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised" id="cancelTabBtn">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="finalize-step btn raised">Finalize</button>
    </div>
  </div>
</div>