<div class="tab-pane fade" id="configuration">
  <div class="row">
    
    <div class="col-12 tab title">
      Step 2: Configuration
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="configuration-id" form="{{content.formid}}">
      
      <div class="option-block">
        Please Select A Configuration:          
      </div>


      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="configuration" id="custom-configuration" vaue="custom-configuration" checked>
        <label class="form-check-label" for="custom-configuration">
          Custom Configuration
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="configuration" id="preset-configuration" value="preset-configuration" disabled>
        <label class="form-check-label" for="preset-configuration">
          Preset Configurations
        </label>

        <select class="custom-select option-block" form="{{content.formid}}" disabled>
          <option selected>SIMOC Baseline</option>
          <option>NASA 'Astronaut In A Can'</option>
          <option>Mars One</option>
        </select>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="configuration" id="custom-import" value="custom-import" disabled>
        <label class="form-check-label" for="custom-import">
          Import Configuration
        </label>
      
        <div class="custom-file option-block">
          <input type="file" class="custom-import-configuration" id="custom-import" disabled>
          <label class="custom-file-label" for="custom-import-configuration">Choose File</label>
        </div>
      </div>         

    </div>

    <div class="col-6 information">
      {{wizard.configurationInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="next-step btn raised">Next</button>
    </div>
  </div>

</div>