<div class="tab-pane fade" id="finalize" role="tabpanel"> 
  <div class="row">
    
    <div class="col-12 tab title">
    	  STEP 10: Finalize Mode      
    </div>

    
    <div class="col-12 finalize">
      <div class="row" id="row-finalize">

        <div class="col-12 " id="mode-id">
          Mode:  
        </div>  

        <div class="col-12 " id="configuration-id">
          Configuration: 
        </div>   

        <div class="col-12 " id="location-id">
          Location: 
        </div>

        <div class="col-12 " id="region-id">
          Region: 
        </div>

        <div class="col-12 " id="terrain-id">
          Terrain: 
        </div>

        <div class="col-12 " id="launchwindow-id">
          Launch Window: 
        </div>

        <div class="col-12 " id="durationofstay-id">
          Duration Of Stay: 
        </div>          

        <div class="col-12 " id="transportation-id">
          Transportation: 
        </div>

        <div class="col-12 " id="payload-id">
          Payload: 
        </div>  

        <div class="col-12 " id="model-id">
          Model: 
        </div>  

      </div>
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised" disabled>Previous</button>
      <button type="button" class="finalize-step btn raised">Finalize</button>
    </div>
  </div>
</div>