<div class="tab-pane fade" id="location">
  <div class="row">
    
    <div class="col-12 tab title">
      Step 3: Location
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="location-id" form="{{content.formid}}">
      
      <div class="option-block">
        Select A Starting Location:          
      </div>


      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="mars-location" value="Mars" form="{{content.formid}}" checked>
        <label class="form-check-label" for="mars-location">
          Mars
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="earth-location" value="Earth Orbit" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="earth-location">
          Earth Orbit
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="moon-location" value="Moon" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="moon-location">
          The Moon
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="asteroid-location" value="Asteroid Belt" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="asteroid-location">
          Asteroid Belt
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="enceladus-location" value="Enceladus" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="enceladus-location">
          Enceladus
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="location" id="fspace-location" value="Free Space" form="{{content.formid}}" disabled>
        <label class="form-check-label" for="fspace-location">
          Free Space
        </label>
      </div>
      <!--
      <div class=" option-block">
        <select class="custom-select option-block">
          <option selected>Mars</option>
          <option disabled>Earth Orbit</option>
          <option disabled>The Moon</option>
          <option disabled>Asteriod Belt</option>
          <option disabled>Enceladus</option>
          <option disabled>Free Space</option>
          
        </select>
      </div>   -->

    </div>

    <div class="col-6 information">
      {{wizard.locationInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised" id="cancelTabBtn">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="next-step btn raised">Next</button>
    </div>
  </div>

</div>