<div class="tab-pane fade show" id="payloadConfig" role="tabpanel" style="height:85%">

<div class="container" style="margin-top:8px; background-color: white; border:2px blue solid">
  Location Information
</div>

<div class="container" style="border: 2px blue solid">
  <div class="row">
    <div class="col-6">Location:</div>
    <div class="col-6"></div>
    
    <div class="col-6">Region:</div>
    <div class="col-6"></div>
    
    <div class="col-6">Terrain</div>
    <div class="col-6"></div>
    
    <div class="col-6">Length Of Day</div>
    <div class="col-6"></div>

    <div class="col-12">
      Minerals In Regolith:
      <div class="container">
        <div>MgO: 120 kg</div>
        <div>Al2O3: 150 kg</div>
        <div>TiO2: 27 kg</div>
        <div>FeO: 30 kg</div>
        <div>CaO: 112.5 kg</div>
        <div>SO3: 90 kg</div>
      </div>
    </div>

  </div>
</div>

</div>