<div class="tab-pane fade" id="transportation">
  <div class="row">
    
    <div class="col-12 tab title">
      Step 7: Transportation
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="transportation-id" form="{{content.formid}}">

      <div class="option-block">
        Please Select Transportation:
      </div>
      
      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="payload" id="nasa-transportation" vaue="NASA SLS" checked>
        <label class="form-check-label" for="nasa-transportation">
          NASA SLS<br>(Payload Size / ETA)
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="payload" id="falconh-transportation" vaue="SpaceX Falcon Heavy" disabled>
        <label class="form-check-label" for="falconh-transportation">
          SpaceX Falcon Heavy (Payload Size / ETA)<br>*Roadster Not Included
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="payload" id="brf-transportation" vaue="SpaceX BFR" disabled>
        <label class="form-check-label" for="brf-transportation">
          SpaceX BFR<br>(Payload Size / ETA)
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="payload" id="ula-transportation" vaue="ULA Rocket" disabled>
        <label class="form-check-label" for="custom-configuration">
          ULA Rocket<br>(Payload Size / ETA)
        </label>
      </div>

      <div class="form-check option-block">
        <input class="form-check-input" type="radio" name="payload" id="china-transportation" vaue="China Rocket" disabled>
        <label class="form-check-label" for="custom-configuration">
          China Rocket<br>(Payload Size / ETA)
        </label>
      </div>  

    </div>

    <div class="col-6 information">
      {{wizard.payloadInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="next-step btn raised">Next</button>
    </div>
  </div>

</div>