<div class="tab-pane fade" id="model">
  <div class="row">
    
    <div class="col-12 tab title">
      Step 9: Model
    </div>

    <div class="col-6 selection">

      <input type="hidden" value="model-id" form="{{content.formid}}">

      <div class="option-block">
        Please Select Model:
      </div>
      
      <div class="form-check option-block">
        <select class="custom-select option-block" form="{{content.formid}}" disabled>
          <option selected>Growth</option>
          <option>Balance</option>
          <option>Explore</option>
        </select>      
      </div>
    </div>

    <div class="col-6 information">
      {{wizard.modelInformation}}
    </div>

    <div class="col-6 cancel buttons">
      <button type="button" class="cancel-step btn raised">Cancel</button>
    </div>

    <div class="col-6 navigation buttons">
      <button type="button" class="previous-step btn raised">Previous</button>
      <button type="button" class="next-step btn raised">Next</button>
    </div>
  </div>

</div>