<div class="row dashboard">
  <div class="container col-3 left-panel">
    <div class="inner">
      <div class="row">
        <div class="col-12 dashboard title">
          Mission Control
        </div>

        <div class="col-12 dashboard-block">
          <br>
        </div>

      </div>
    </div>
  </div>

  <div class="container col-6 middle-panel">
    <div class="inner">
      <div class="row">
        <div class="col-12 dashboard title">
          Mars: SOL XX
        </div>
        <div class="col-12 dashboard map">
          Map Canvas
        </div>

        <div class="col-12 dashboard "
      </div>
    </div>
  </div>

  <div class="container col-3 right-panel">
    <div class="inner">
      <div class="row">
        <div class="col-12 dashboard title">
          Ecosystem
        </div>
      </div>
    </div>
  </div>
</div>