<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.css">
    <title>SIMOC</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Chart.JS Scripts -->
    <script src="static/Chart.bundle.js"></script>
    <script src="static/utils.js"></script>
    <style>

      canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
    
      .col-12,.col-6, .col-3{
        outline: 1px solid orange;
      }


      .wizard-container{
        height: 500px;
        width: 700px;
      }

      .container{
        outline: 2px solid red;
      }


      .container {

}
.panel-inner {
    outline: 2px solid orange;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
    </style>

  </head>
  <body>

    <div class="container wizard-container d-visible">
      <div class="wizard">
        <div class="wizard-inner">
          <div class="row">
            <div class="col-12 title">
              SIMOC
            </div>
            <div class="col-12 subtitle">
              CONFIGURATION WIZARD
            </div>

            <div class="col-12 tabs">
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" data-toggle="tab" href="#start">Start</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#configuration">Configuration</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#location">Location</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#region">Region</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#terrain">Terraint</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#launchwindow">Launch Windowt</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#transportation">Transportation</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#payload">Payloadt</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#model">Model</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link disabled" data-toggle="tab" href="#finalize">Finalize</a>
                </li>
              </ul>
            </div>
          </div>
          
          <div class="tab-content">
            <!-- THIS NEEDS TO BE DELETED LATER! REFERENCE ONLY! 
            <input type="text" name="names" value="tester.txt" form="wizardform"/>
            <input type="text" name="namer" value="tester" form="wizardform"/> 
            <input id="clickMe" type="button" value="clickMe" onClick="download();"/>-->

            <form id="wizardform"></form>            

            <!-- Start of the Include Content -->
             
              {%set step = start%}
              {%include 'wizardpane.html'%}

              {%set step = configuration%}
              {%include 'wizardpane.html'%}

              {%set step = finalize %}
              {%include 'wizardfinalize.html'%} 

            <!-- End of the Include Content -->            
          </div>
        </div>
      </div>
    </div>

    <div class="container dashboard d-none" style="margin: 0 auto; width:1280px; height:720px; outline: 1px solid red; padding-top:16px; padding-bottom: 16px;">
      {%include 'dashboard.html' %}
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="/static/wizardnavigation.js"></script>
    <script src="/static/wizardexport.js"></script>


  </body>
</html>