{% extends "basewizard.html" %}

{% block content %}
	<div class="w-content-container" role="tabpanel">
		<div class="w-step-title cmn-text">{{config.title}}</div>
		<div class="w-step-inner">
		  <div class="w-step-option">
        <div class="option-block cmn-text">
          Please Select Mode:<br>
        <label for="{{starttab.gameplayid}}">{{starttab.gameplaylabel}}</label>
          <input type="radio" name="mode" id="{{starttab.gameplayid}}" value="{{starttab.gameplayvalue}}">
          <label for="science-radio">{{starttab.sciencelabel}}</label>
          <input type="radio" name="mode" id="{{starttab.scienceid}}" value="{{starttab.sciencevalue}}">

        </div>
        <div class="option-block cmn text">
          Please Select Launch Year: <br>
          <select name="{{starttab.name}}" id="{{starttab.id}}">
            {% for options in starttab.option %}
              <option value="{{options.value}}">{{options.text}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="w-step-info">
        {{starttab.value}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button {{starttab.previousactive}}">Changed</button>
        <button type="button {{starttab.previousactive}}">NEXT</button>
    </div>
  </div>

{% endblock content%}