<div class="tab-pane fade {{step.show}} {{step.active}}" id="{{step.id}}" role="tabpanel " style="outline:1px solid blue;">
  <div class="row" style="outline: 1px solid red;">
    
    <div class="col-12 step-title">
      {{step.title}}
    </div>

    <div class="col-12 finalize" style="padding: 0px">
      <div class="row" id="row-finalize">
        <script>
          function UpdateFinal(){
            var elem = document.getElementById("wizardform");
            document.getElementById('row-finalize').innerHTML = "";

            for (var index = 0; index < elem.length; index++) {
              
              var current = elem[index];
              var viewBlock = '<div class="col-12">';

              if(current.type == 'radio'){                
                if(current.checked && current.id == 'mode'){

                  viewBlock += 'Mode: ' + current.value + '<div>';
                  document.getElementById('row-finalize').innerHTML += viewBlock;     
                }
              }
              console.log(current.type);
              if(current.type =='select-one'){

                if(current.id =='configuration'){
                  viewBlock+= 'Configuration: ' + current.options[current.selectedIndex].value + '<div>';
                  document.getElementById('row-finalize').innerHTML += viewBlock;   
                }
              }

              if(current.type=='number'){
                console.log(current.id);
                if(current.id =='duration'){
                  if(document.getElementById('permanent').checked){
                    viewBlock+= 'Duration: ' + 'Permanent' + '<div>';
                  }
                  else{
                    viewBlock+= 'Duration: ' + current.value + " Days" + '<div>';
                  }
                }
                                
                document.getElementById('row-finalize').innerHTML += viewBlock;   
              }      
            }
          }

        </script>        
      </div>
    </div>

    <div class="col-6 cancel-btns">
      {%set button=step.cancelButton%}
      <button type="button" {{button.btnOneState}} class="{{button.btnOneClass}}">{{button.btnOneLabel}}
    </div>

    <div class="col-6 navigation-btns">

      {%set button=step.navButton%}
      <button type="button" {{button.btnOneState}} class="{{button.btnOneClass}}">{{button.btnOneLabel}}</button>
      <button type="button" {{button.btnTwoState}} class="{{button.btnTwoClass}}">{{button.btnTwoLabel}}</button>
    </div>
  </div>
</div>
