        <div class="option-block col-12 order-{{integer.roworder}}" style="display:{{integer.display}};padding: 0px;">
          <div class="row">
            <div class="col-6" style="padding: 0px">
              {{integer.label}}
            </div>    
            <div class="col-6" style="padding: 0px">
              <input type="number" min="0" id="{{integer.id}}" form="{{step.formid}}" style="width: 7em"/>
            </div>
            <div class="col-6" style="padding: 0px">
              {{checkbox.label}}
            </div>    
            <div class="col-6" style="padding: 0px">
              <input type="checkbox" id="{{checkbox.id}}" form="{{step.formid}}"/>
            </div>
          </div>
        </div>