{% extends "basewizard.html" %}

{% block content %}
  <div class="w-content-container" id="{{ terrain.id }}" role="tabpanel">
    <div class="w-step-title cmn-text">{{terrain.title}}</div>
    <div class="w-step-inner">
      <div class="w-step-option">

        <div class="option-block cmn-text">
          Please Select Mode:<br>
          <label for="{{terrain.terrainid}}">{{terrain.terrainlabel}}</label>
          <input type="radio" name="mode" id="{{terrain.terrainid}}" value="{{terrain.terrainvalue}}">
          <label for="{{terrain.vesselid}}">{{terrain.vessellabel}}</label>
          <input type="radio" name="mode" id="{{terrain.vesselid}}" value="{{terrain.vesselvalue}}">
          <label for="{{terrain.asteroidid}}">{{terrain.asteroidlabel}}</label>
          <input type="radio" name="mode" id="{{terrain.asteroidid}}" value="{{terrain.asteroidvalue}}">
        </div>

        <div class="option-block cmn-text">
          Please Select Starting Location: <br>
          <select name="{{terrain.name}}" id="{{terrain.id}}">
            {% for options in terrain.option %}
              <option value="{{options.value}}">{{options.text}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="w-step-info">
        {{terrain.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{terrain.previousactive}}>PREVIOUS</button>
        <button type="button" {{terrain.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}