{% extends "basewizard.html" %}

{% block content %}
	<div class="w-content-container" id="{{ start.id }}" role="tabpanel">
		<div class="w-step-title cmn-text">{{start.title}}</div>
		<div class="w-step-inner">
		  <div class="w-step-option">
        <div class="option-block cmn-text">
          Please Select Mode:<br>
        <label for="{{start.gameplayid}}">{{start.gameplaylabel}}</label>
          <input type="radio" name="mode" id="{{start.gameplayid}}" value="{{start.gameplayvalue}}">
          <label for="{{start.scienceid}}">{{start.sciencelabel}}</label>
          <input type="radio" name="mode" id="{{start.scienceid}}" value="{{start.sciencevalue}}">

        </div>
        <div class="option-block cmn-text">
          Please Select Launch Year: <br>
          <select name="{{start.name}}" id="{{start.id}}">
            {% for options in start.option %}
              <option value="{{options.value}}">{{options.text}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="w-step-info">
        {{start.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{start.previousactive}}>PREVIOUS</button>
        <button type="button" {{start.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}