{% extends "basewizard.html" %}

{% block content %}
  <div class="w-content-container" id="{{ payload.id }}" role="tabpanel">
    <div class="w-step-title cmn-text">{{payload.title}}</div>
    <div class="w-step-inner">
        
      <div class="w-step-info">
        {{payload.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{payload.previousactive}}>PREVIOUS</button>
        <button type="button" {{payload.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}