
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">

  <link rel="stylesheet" href="/css/wizard.css">
  <link rel="stylesheet" href="/css/common.css">

<style>

</style>
</head>

<body>

  <div class="simoc-title">SIMOC</div>
  <div class="configuration-title">CONFIGURATION WIAZRD</div>

  <div class="card">
    <div class="card-header">
      <ul class="nav">

        {% for item in tabs %}
          <li class="nav-item">
            <a class="nav-link {{item.active}} fa-3x fa-layers fa-fw" data-toggle="tab" href="{{ item.href }}">
              <i class="fas fa-circle"></i>
              <i class="{{ item.icon }}" data-fa-transform="shrink-7"></i>
            </a>
          </li>
        {% endfor %}

      </ul>
    </div>


    <div class="card-body">
      <div class="tab-content">
        {% for item in content %}
        <div class="tab-pane {{ item.active }}" id="{{ item.id }}" role="tabpanel">
          <div class="step-title"> {{ item.title }} </div>
          <div class="step-section">
            <div class="step-selection"> Requires Additional Logic </div> <!-- This requires more -->
            <div class="step-information"> {{ item.information }} </div>
          </div>
        </div>
        {% endfor %}        
      </div>

      <div class="card-footer">
        <div class="tab-content">
          {% for item in content %}
          <div class="tab-pane {{ item.active }}" id="{{ item.id }}" role="tabpanel">
            <div class="step-button">
              <div class="step-cancel">Requires Additional Logic </div> <!-- This requires more -->
              <div class="step-navigation">Requires Additional Logic </div> <!-- This requires more -->
            </div>
          </div>
          {% endfor %}
      </div>
    </div>
  </div>

</body>
</html>