{% extends "basewizard.html" %}

{% block content %}
  <div class="w-content-container" id="{{ region.id }}" role="tabpanel">
    <div class="w-step-title cmn-text">{{region.title}}</div>
    <div class="w-step-inner">
      <div class="w-step-option">

        <div class="option-block cmn-text">
          Please Select Starting Location: <br>
          <select name="{{region.name}}" id="{{region.id}}">
            {% for options in region.option %}
              <option value="{{options.value}}">{{options.text}}</option>
            {% endfor %}
          </select>
        </div>
      </div>

      <div class="w-step-info">
        {{region.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{region.previousactive}}>PREVIOUS</button>
        <button type="button" {{region.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}