{% extends "basewizard.html" %}

{% block content %}
  <div class="w-content-container" id="{{ transport.id }}" role="tabpanel">
    <div class="w-step-title cmn-text">{{transport.title}}</div>
    <div class="w-step-inner">
      <div class="w-step-option">
        <div class="option-block cmn-text">
          Please Select Transportation: <br>
          <select name="{{transport.name}}" id="{{transport.id}}">
            {% for options in transport.option %}
              <option value="{{options.value}}">{{options.text}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="w-step-info">
        {{transport.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{transport.previousactive}}>PREVIOUS</button>
        <button type="button" {{transport.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}