{% extends "basewizard.html" %}

{% block content %}
  <div class="w-content-container" id="{{ model.id }}" role="tabpanel">
    <div class="w-step-title cmn-text">{{model.title}}</div>
    <div class="w-step-inner">
      <div class="w-step-option">

        <div class="option-block cmn-text">
          Please Select Mode:<br>
          <label for="{{model.exploreid}}">{{model.explorelabel}}</label>
          <input type="radio" name="mode" id="{{model.exploreid}}" value="{{model.explorevalue}}">
          <label for="{{model.growthid}}">{{model.growthlabel}}</label>
          <input type="radio" name="mode" id="{{model.growthid}}" value="{{model.growthvalue}}">
          <label for="{{model.balanceid}}">{{model.balancelabel}}</label>
          <input type="radio" name="mode" id="{{model.balanceid}}" value="{{model.balancevalue}}">
        </div>

      <div class="w-step-info">
        {{model.information}}
      </div>
    </div>
  </div>
  
  <div class="w-step-button cmd-text">
    <div class="w-step-cancel">
      <button type="button">CANCEL</button>
    </div>
    <div class="w-step-navigation">
        <button type="button" {{model.previousactive}}>PREVIOUS</button>
        <button type="button" {{model.nextactive}}>NEXT</button>
    </div>
  </div>

{% endblock content%}