name: Publish to Beta

on:
  #push:
    #branches: [ master ]
  #pull_request:
    #branches: [ master ]
  #repository_dispatch:
    #types: [frontend-update-staging]
  workflow_dispatch:
    inputs:
      fe_branch:
        description: 'Use this frontend branch:'
        required: true
        default: 'master'
      be_branch:
        description: 'Use this backend branch:'
        required: true
        default: 'master'
      # This could be used to merge the two yml
      # files and conditionally push to beta/ngs
      # depending on the selected value
      #publish_to:
        #description: 'Push to this server:'
        #required: true

env:
  DB_PASSWORD: ${{ secrets.BETA_DB_PASSWORD }}
  FLASK_SECRET: ${{ secrets.BETA_FLASK_SECRET }}
  REDIS_PASSWORD: ${{ secrets.BETA_REDIS_PASSWORD }}
  DOCKER_ENV: simoc_docker_beta.env
  VITE_FE_BRANCH: ${{ github.event.inputs.fe_branch }}
  VITE_BE_BRANCH: ${{ github.event.inputs.be_branch }}

jobs:
  ci:
    runs-on: ubuntu-latest
    env:
      # workaround to prevent node/vite crashes during the build step
      # see https://github.com/vitejs/vite/issues/2433#issuecomment-831399876
      # assume 4GB - 512MB
      NODE_OPTIONS: '--max-old-space-size=3584'
    steps:
      - name: Checkout Backend Repository
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.inputs.be_branch }}
          path: simoc
      - name: Checkout Frontend Repository
        uses: actions/checkout@v3
        with:
          repository: overthesun/simoc-web
          ref: ${{ github.event.inputs.fe_branch }}
          token: ${{ secrets.ACCESS_TOKEN }}
          path: simoc-web
      - name: Set up Node Environment
        uses: actions/setup-node@v3
        with:
          node-version: 'lts/*'
          check-latest: true
      - name: Download preset simdata
        working-directory: simoc-web/public
        run: |
          mkdir simdata
          cd simdata
          wget -r -nH --cut-dirs=2 --no-parent --accept="*.gz" -erobots=off -q https://simoc.space/download/simdata/
          ls -ld $PWD/*
      - name: Download skybox
        working-directory: simoc-web/src/assets
        run: |
          mkdir skybox
          cd skybox
          wget -r -nH --cut-dirs=2 --no-parent --accept="*.jpg" -erobots=off -q https://simoc.space/download/skybox/
          ls -ld $PWD/*
      - name: Download models
        working-directory: simoc-web/src/assets
        run: |
          mkdir models
          cd models
          wget -r -nH --cut-dirs=2 --no-parent --accept="*.glb" -erobots=off -q https://simoc.space/download/models/
          ls -ld $PWD/*
      - name: npm install
        working-directory: simoc-web
        run: |
          npm install --no-fund --no-audit -g npm@latest
          npm install --no-fund
      - name: Print info
        run: |
          echo "Current branch: $GITHUB_HEAD_REF"
          echo "node $(node --version); npm $(npm --version)"
      - name: Build
        working-directory: simoc-web
        run: |
          npm run build
          ls -ld $PWD/dist/*
      - name: Create Backend Artifacts
        run: |-
          rm -rf simoc/simoc_server/dist
          cp -r simoc-web/dist simoc/simoc_server/
          tar -cvf simoc_bundle.tar simoc/
      - name: Save Backend Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: simoc-bundle
          path: simoc_bundle.tar
      - name: Build Flask Image
        working-directory: simoc
        run: docker build -t simoc_flask .
      - name: Build Celery Image
        working-directory: simoc
        run: docker build -f Dockerfile-celery-worker -t simoc_celery .
      - name: Tags Images
        run: |-
          docker tag simoc_flask ${{ secrets.DOCKER_REPO }}/simoc_flask:${{ github.sha }}
          docker tag simoc_celery ${{ secrets.DOCKER_REPO }}/simoc_celery:${{ github.sha }}
          docker tag simoc_flask ${{ secrets.DOCKER_REPO }}/simoc_flask:latest
          docker tag simoc_celery ${{ secrets.DOCKER_REPO }}/simoc_celery:latest
      - name: Login to Docker Hub
        run: docker login -u ${{ secrets.DOCKER_USER }} -p ${{ secrets.DOCKER_PASSWORD }}
      - name: Publish Images to Docker Hub
        run: |-
          docker push ${{ secrets.DOCKER_REPO }}/simoc_flask:${{ github.sha }}
          docker push ${{ secrets.DOCKER_REPO }}/simoc_celery:${{ github.sha }}
          docker push ${{ secrets.DOCKER_REPO }}/simoc_flask:latest
          docker push ${{ secrets.DOCKER_REPO }}/simoc_celery:latest

  cd-docker:
    runs-on: ubuntu-latest
    needs: ci
    steps:
      - name: Checkout Backend Repository
        uses: actions/checkout@v3
      - name: Set up Python Environment
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'
      - name: Create Compose Configs
        run: |-
          source $DOCKER_ENV && export VERSION=${{ github.sha }}
          python3 -m pip install -U jinja2
          python3 generate_docker_configs.py
          echo "celery_workers=$CELERY_WORKERS" >> "$GITHUB_ENV"
          echo "flask_workers=$FLASK_WORKERS" >> "$GITHUB_ENV"
      - name: Print info
        run: |
           echo "Celery/Flask workers: ${{ env.celery_workers }}/${{ env.flask_workers }}"
      - name: Deploy to Docker Host
        uses: wshihadeh/docker-deployment-action@v2
        with:
          remote_docker_host: ${{ secrets.BETA_SSH_HOST }}
          ssh_private_key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          ssh_public_key: ${{ secrets.DOCKER_SSH_PUBLIC_KEY }}
          deployment_mode: docker-compose
          copy_stack_file: true
          deploy_path: /home/beta.simoc/simoc
          stack_file_name: docker-compose.mysql.yml
          args: "up -d --scale celery-worker=${{ env.celery_workers }} --scale flask-app=${{ env.flask_workers }}"
          docker_prune: false
          pull_images_first: true
